@charset "utf-8";
/* CSS Document */


body {
  background-color: lightblue;
}

h1 {
  color: blue;
  text-align: center;
}

h2 {
  color: darkseagreen;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 80px;
}

