<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

<link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
</script>
</head>

  <link rel="icon" type="image/x-icon" href="/pictures/favicon_cat.ico">
  <body text="#ffffff" vlink="#ffffff" link="#ff0000">
    <!-- HEADER -->
    <div class="text-margin">
        <header>
          <h2 style="margin-left:-2px";id="project_title">{{ site.title | default: site.github.repository_name }}</h2>
	  
	{% include nav.html %}
        </header>
    </div>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="text-margin">
      <footer class="inner">
        <p>    <small>
        Copyright &copy; 2024 - Pia Jakobus 
        </small> </p>

        <p class="copyright"> <small> Site maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></small></p>
      </footer>
    </div>

 </body>
</html>
